language: python
arch:
  - amd64
  - ppc64le
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"

install:
  - pip install -e .

script:
  - python -m unittest discover ephem
