include CHANGELOG
include COPYING
include LICENSE-GPL
include LICENSE-LGPL
include doc/pyephem-manual.html
include examples/*.py
include libastro-3.7.2/*.h
exclude TODO
exclude doc/Makefile
exclude doc/format.py
exclude doc/premanual.html
exclude doc/pyephem.html
